footer
    .container
        .footer-flex.row
            .logo-footer.col-12.col-md-4.col-lg-6
                .logo.col-12.col-lg-5
                    a(href="#")
                       img(src="img/logo/logo-footer.png" alt="")
                .text.col-0.col-lg-3.d-none.d-lg-block
                    a(href="#")
                       img( src="img/logo/text-logo-footer.png" alt="")
            .footer-menu.col-sm-12.col-md-3.col-lg-2.col-xl-3
                ul
                    li
                        a(href="index.html") Экскурсии
                    li
                        a(href="#") Статьи
                    li
                        a(href="about.html") Обо мне
                    li
                        a(href="contacts.html") Контакты
            .contacts.col-sm-5.col-lg-4.col-xl-3
                .nav-contacts
                    .cont__item
                        i.fas.fa-phone-square-alt
                        a(href="tel:+7(904)612-15-10")
                            span +7(904)612-15-10
                    .cont__item
                        i.far.fa-envelope
                        a(href="mailto:mezhov.alexander@gmail.com")
                            span mezhov.alexander@gmail.com
                ul.footer-social
                    li
                        a(href="#")
                            i.fab.fa-airbnb
                    li
                        a(href="#")
                            i.fab.fa-facebook-square
                    li
                        a(href="#")
                            i.fab.fa-telegram-plane
                    li
                        a(href="#")
                            i.fab.fa-instagram
link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
script(src="https://kit.fontawesome.com/15ed442eb7.js" crossorigin="anonymous")