header
    nav.navbar.navbar-expand-lg.navbar-dark
        .container
            button(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNavDropdown
                ul.nav-menu.navbar-nav
                    li.nav-menu__item.nav-item
                        a(href="index.html") экскурсии
                    li.nav-menu__item.nav-item
                        a(href="#") статьи
                    li.nav-menu__item.logo.d-none.d-lg-block
                        a(href="index.html").logo__link.navbar-brand
                            img(src="img/logo/logo.png" alt="logo")
                    li.nav-menu__item.nav-item
                        a(href="about.html") обо мне
                    li.nav-menu__item.nav-item
                        a(href="contacts.html") контакты