extends ./../layouts/main.pug

block content
    include ./../sections/header.pug
    main
        .container
            .profile.col-12
                h1 Обо мне
                img(src="img/about/profile-img.jpg" alt="").profile-img.col-9.col-md-4.col-lg-3
            p.paragraph.col-12.col-lg-10.
                Если у вас есть какие то интересные предложения, обращайтесь! Студия Web-Boss всегда готова решить любую задачу.
                Равным образом постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы
                обучения кадров, соответствует насущным потребностям. Таким образом реализация намеченных плановых заданий
                позволяет оценить значение новых предложений. Значимость этих проблем настолько очевидна, что дальнейшее развитие
                различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.
                Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение новых предложений.

    include ./../sections/footer.pug